@media (min-width: 1024px)
	.about
		width: 1024px
		// height: 900px
		margin: 0 0 0px 0
		padding: 0px
		overflow: visible;

		&__button666
			// position: relative
			float: left;
			width: 77px
			height 77px
			background: #000
			border: white solid 3px
			border-radius: 111px
			margin: -315px 0 0px 477px

			img
				float: left;
				width: 111px
				// height: 100%

		&__intro
			float: left;
			width: 1024px
			height: 666px
			background-image: url(/freedom.jpg);
			margin: -3px 0 0px 0
			z-index: 1

		&__logo
			float: left;
			width: 222px
			height: 222px
			margin: 11px 0 0 416px
			// background: #000

			img
				width: 100%
				margin:0px


		&__header
			float: left;
			width: 1004px
			// height: 666px
			background: #000
			padding: 30px 10px 10px 10px
			margin: 0px 0 0 0

			h4
				float: left;
				width: 100%
				font-size: 66px
				line-height: 39px
				font-family: 'Oswald', sans-serif;
				color: white
				text-align: center;
				font-weight: 333px;
				letter-spacing: 11px
				margin: 0 0 33px 0

		&__body
			float: left;
			width: 1024px
			// height: 666px
			background: #000
			margin: 0 0 0px 0

		&__section
			float: left;
			width: 1003px
			// height: 300px
			// background: black
			padding: 10px 0 0 0px
			margin: 0px 0 0 0px

		&__box
			float: left;
			width: 333px
			height: 333px
			background: black
			border: white groove 3px
			border-radius: 66px
			padding: 0px
			margin: 40px 0 30px 60px

		&__text-1
			float: left;
			width: 466px
			height: 111px
			margin: 0 0px 120px 90px
			// background: white

			h2
				float: left;
				width: 100%
				font-size: 99px
				font-family: 'Archivo Black' sans-serif;
				color: white
				letter-spacing: 3px
				line-height: 99px
				text-align: center;

			h3
				float: left;
				width: 100%
				color: white
				font-family: 'Archivo Black' sans-serif;
				font-size: 13px
				line-height: 15px
				letter-spacing: 1px
				text-align: justify;

		&__box2
			float: left;
			width: 333px
			height: 333px
			background: black
			border: white groove 3px
			border-radius: 66px
			padding: 0px
			margin: 45px 0 30px 69px

		&__text-2
			float: left;
			width: 466px
			height: 111px
			margin: 0 30px 120px 30px
			// background: white

			h2
				float: left;
				width: 100%
				font-size: 93px
				font-family: 'Archivo Black' sans-serif;
				color: white
				letter-spacing: 3px
				text-align: center;
				margin: 0 0px 0 0px

			h3
				float: left;
				width: 100%
				color: white
				font-family: 'Archivo Black' sans-serif;
				font-size: 13px
				line-height: 15px
				letter-spacing: 1px
				text-align: justify;
				margin: 9px 0px 0 13px

		&__socialholder
			width: 420px
			padding: 0px 0 0px 0px
			margin: 130px 0 0px 90px

			img
				float: left;
				width: 100%
				// height: 100%

		&__socialbox
			width: 144px
			height: 144px
			margin: 20px 60px 40px 0px

		&__infoholder
			float: left;
			width: 444px
			padding: 0px
			margin: 90px 0 190px 0px

		&__infobox
			padding: 20px 10px 20px 10px
			margin: 0px 0 0 60px
			border-radius: 60px
			border: 3px solid #000

		&__text
			width: 333px
			// height: 444px
			margin: 60px 0 0 0

			h4
				width 100%
				font-size: 22px
				line-height: 33px

		&__headshot
			width: 199px
			height: 199px
			border-radius: 1000px
			border: 6px solid #000
			margin: -600px 0 0px 144px


		&__headshot:hover
			background: url(/me2.jpg);
