@media (min-width: 1024px)
	.contact
		width: 1024px
		// height: 555px
		margin: 0 0 0px 0
		padding: 0 0 0 0

		&__intro
			width: 981px
			// height: 490px
			padding: 0 0 0 0px

			h2
				font-size: 66px
				padding: 0px
				margin: 60px 0px 0 0
				color: #fff

			h1
				font-size: 222px
				margin: 90px 0 0 30px
				color: #fff

		&__social
			width: 777px
			height: 111px
			padding: 60px 0 60px 90px
			margin: 33px 0 0px 90px
			// background-color: #fff


		&__icon
			width: 111px
			height: 111px
			margin: 0px 60px 0px 0px
			border: white solid 6px

			img
				float: left;
				width: 100%
				// height: 100%



		&__form
			width: 450px
			height: 425px
			margin: 0 35px 0 35px

		&__box
			width: 400px
			height: 400px
			padding: 20px 0 0 0

			h3
				width 100%
				font-size: 66px
				line-height: 30px
				color: #fff
				text-align: center
				margin: 15px 0 11px 11px

			input
				width: 300px
				margin: 0 0 0 66px

			button
				margin: 33px 0 0 22px


		&__row
			width: 100%
			padding: 10px 0 0 0
			margin: 0 0 0 0px

			h4
				font-size: 44px
				text-align: center;
				margin: 36px 0 20px 150px


		&__holder-c
			float: left;
			width: 444px
			padding: 0px
			margin: 0px 0 0px 11px

		&__card
			float: left;
			// padding: 30px 10px 0 10px
			margin: 0px 0 0 0px
			border-radius: 33px
			border: 3px solid #000
			background-color: #fff
