@media (min-width: 1024px)
	.error
		float: left;
		width: 100%

		&__container
			float: left
			width: 1024px
			height: 700px
			background: #fff

			img
				float: left;
				width: 100%
				height: 100%
