@media (min-width: 1024px)
	.home
		width: 1024px
		background: #000
		padding: 0px
		margin: 0px

		&__headerbutton
			display: block;
			float: left;
			width: 77px
			height 77px
			// background: #fff
			border: white solid 3px
			border-radius: 111px
			margin: -1099px 0 0px 477px
			img
				float: left;
				width: 111px
				// height: 100%


		&__logo
			display: block;
			float: left;
			width: 333px
			height: 333px
			// background-color: #000
			// background-image: url(/test111.png);
			margin: -666px 0 0 344px
			border-radius: 1000px

			img
				float: left;
				width: 100%
				height: 100%


		&__logo:hover
			animation-name logo111
			animation-duration 6666ms
			animation-iteration-count 1
			animation-timing-function: ease-in-out;


		&__project
			width: 511px
			height: 511px
			margin: 0px
			opacity:1
			background-image: url('/healthBG.png');

		&__project2
			float left
			width: 511px
			height: 511px
			opacity:1
			background-image: url('/artBG.png');
			margin: 0px

		&__project3
			float left
			width: 511px
			height: 511px
			margin: 0px
			opacity: 1
			background-image: url('/businessBG.png');


		&__project4
			float left
			width: 511px
			height: 511px
			background-image: url('/communityBG.png');
			margin: 0px
			opacity:1

		&__sub
			width 466px
			margin 0px 0 0px 6px
			background-image: none

			img
				display: block;
				width: 100%
				// padding 0px 70px 182px 40px

		&__sub2
			width 444px
			margin 133px 0 0 33px
			background-image: none

			img
				display: block;
				width: 100%
				// padding: 0 0 10px 20px

		&__sub3
			width 500px
			margin 0px 0 11px 20px
			background-image: none

			img
				display: block;
				width: 100%
				// padding: 0 0 11px 20px

		&__sub4
			width 444px
			margin 30px 33px 38px 33px

			img
				width: 100%
				// padding: 30px 33px 38px 33px



		// &__sub > img:hover
		// 	background rgba(0,0,0,0.3)
		//
		// &__sub2 > img:hover
		// 	background rgba(255,255,255,0.3)
		//
		// &__sub3 > img:hover
		// 	background rgba(0,0,0,0.3)
		//
		// &__sub4 > img:hover
		// 	background rgba(255,255,255,0.3)


	.sexy
		width: 1024px
		// height: 666px
		background: #fff
		overflow hidden
		margin: 0px

		&__intro
			width: 1024px
			height: 644px
			// background-color: #fff
			background-image: url('/tech111.jpg')
			// opacity: 0.9
			padding: 0px
			margin: 0px 0 0 -5px

			img
				width: 1024px
				height: 100%
				margin: 0 33px 0 0px


		&__holder
			width: 333px
			// height: 644px
			padding: 33px 0 0 0
			// background-color: #f66

		&__container
			height 88px
			margin 44px 0 0px 0

		&__styles
			width: 666px
			height 88px
			background-image: url(/slider.png);
			margin: 0 0 0 -600px
			padding 0px 0px
			border-top-right-radius 44px
			border-bottom-right-radius 44px

			h2
				display: none
				width: 100%
				text-align center
				font-size: 66px
				line-height:12px
				color: #fff
				font-family: 'Archivo Black',sans-serif;
				padding 40px 60px 0px 0px
				margin 0 0px 0 40px

		&__styles:hover
			animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			margin: 0 0 0px -99px

			h2
				display: block

		&__holder2
			display: block;
			// clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
			width: 400px
			height: 400px
			margin: -450px 0 0px 588px
			// background-color: rgba(0,0,0,1)
			background-image: url(/idea111.gif);
			animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			opacity: 0.6

			img
				display: block;

	.design
		width: 1024px
		height: 733px
		background: #060b09
		overflow: hidden
		padding: 11px 0 0 0

		&__metal
			// width: 1024px
			// height: 66px
			// background-image: url(/metal.png);
			margin: 0px 0 0 0

			img
				width: 100%
				// height: 66px


		&__undertext
			width: 555px
			height: 555px
			background: none
			padding: 0px
			margin: 111px 0px 0px 33px
			// border: white solid 3px
			border-radius: 66px

			h1
				font-size: 99px
				font-family: 'Russo One', sans-serif;
				line-height: 66px
				color: #fff
				margin: -99px 0 0px 177px

		&__text
			width: 444px
			margin: 66px 0 0 0
			padding: 2px
			letter-spacing: 6px
			// background-color: #f11

			h6
				font-size: 33px
				font-family: 'Advent Pro', sans-serif;
				color: #fff

				// margin: -66px 0 33px 177px



		&__object
			display: block;
			position: relative;
			width: 1111px
			height: 444px
			border-radius: 1000px
			background-image: url(/growth.png);
			background-color: #30c939
			padding: 0px
			margin: 0px 0px 0px 466px

		&__object:active
			animation: slide-in-right 2s cubic-bezier(0.333, 0.460, 0.450, 0.940) both;
			margin: 0px -222px 0 0px

	// .art
	// 	width: 1024px
	// 	padding: 0px
	//
	// 	&__port1
	// 		width: 222px
	// 		height: 366px
	// 		padding 0px 0 0 0px
	// 		margin: 10px 6px 0px 6px
	//
	// 	&__port2
	// 		width: 266px
	// 		padding 0px 0 0 0px
	// 		margin: 10px 6px 0px 0
	//
	// 	&__section2
	// 		width: 266px
	// 		height: 182px
	// 		margin: 0px 0 0px 0px
	//
	// 	&__port3
	// 		width: 500px
	// 		// height: 393px
	// 		padding 0px 0 0 0px
	// 		margin: 10px 0 0 0px
	//
	// 	&__section3
	// 		width: 239px
	// 		height: 366px
	// 		margin: 0px 0px 0 6px
	//
	// 	&__intro
	// 		height: 190px
	// 		margin: 0px 0 0px 0
	//
	// 	&__header
	// 		width: 630px
	// 		height: 260px
	// 		margin: 60px 0 0px 190px
	//
	// 	&__project
	// 		width: 353px
	// 		height: 600px
	// 		margin: 30px 0 0 10px
	//
	// 	&__projectmedia
	// 		width: 644px
	// 		height: 600px
	// 		margin: 30px 0 0 0
	//
	// 	&__image
	// 		width: 300px
	// 		height: 300px
	// 		margin: 0 10px 0 10px
	//
	// 	&__image2
	// 		width: 624px
	// 		height: 290px
	// 		margin: 10px 0 0 10px
	//

	@keyframes slide-in-right {
	0% {
			transform: translateX(1000px)
	opacity: 0;
	}
	100% {
			transform: translateX(0);
	opacity: 1;
	}
	}


	@keyframes slide-in-left {
	0% {
			transform: translateX(-200px)
	opacity: 0;
	}
	100% {
			transform: translateX(0);
	opacity: 1;
	}
	}


	@keyframes logo111
		from
			transform rotate(0deg)
		to
			transform rotate(360deg)
