@media (min-width: 1024px)
	.intro
		width: 100%
		padding: 10px 2px 0px 2px
		margin: 0px

		&__headerbutton
			display: block;
			float: left;
			width: 77px
			height 77px
			// background: #fff
			border: white solid 3px
			border-radius: 111px
			margin: -89px 0 0px 474px

			img
				float: left;
				width: 111px
				// height: 100%

		&__box
			float: left;
			width: 460px
			height: 250px
			margin: 0 0 0 10px
			background: #000

			img
				float: left;
				width: 270px
				height: 270px

		&__box2
			width: 480px
			// height: 240px
			margin: 30px 0 0 10px
			padding: 0px 10px 10px 10px
			background-color: #000

			h3
				float: left;
				width 100%
				font-size: 26px
				line-height:33px
				color: white
				font-family: 'Archivo Black',sans-serif;



	.search
		width: 1004px
		// height: 88px
		margin: 0 0 0px 0px
		padding 20px 0px 0px 20px

		&__square
			float: left;
			width: 222px
			margin 0px 30px 0 0
			border: 1px solid #fff
			padding: 1px

			img
				width: 221px
				height: 86px

		&__page
			width: 950px
			height: 900px
			padding: 0 10px 0px 20px
			// margin: 80px 0 0 0

	.projects
		float: left;
		width: 1024px
		background-color: #000
		padding: 10px 0 0 17px

		&__holder
			width: 760px
			height: 300px
			margin: 0px 0px 0 0px
			padding: 10px 0 0 0px


		&__image
			float: left;
			width: 240px
			height: 240px
			margin: 0px 10px 10px 0px
			padding: 0px
			background-color: #fff

		&__image-s
			float: left;
			width: 240px
			height: 240px
			margin: 0px 10px 0 0px
			padding: 0px
			background-color: #f14
