
@media (min-width: 1024px)

	.project
		width: 1024px
		padding: 0px 0 10px 0px

		&__header
			width: 1024px
			padding: 0 0px 0 15px

		&__category
			float: left;
			width: 145px
			margin: 30px 0 0 0

		&__title
			width: 320px
			height: 60px
			margin: 0px 0px 0 190px

		&__date
			width: 145px
			height: 30px
			margin: 30px 0 0 180px

		&__textbox
			width: 504px
			height: 500px
			margin: 0 5px 0 10px

		&__image1
			width: 230px
			height: 230px
			margin: 0px 10px 0 10px

		&__image2
			width: 480px
			height: 260px
			margin: 10px 0 0 10px

		h1
			float: left;
			width: 100%
			height: 100%
			font-size: 111px
			text-align: center;

		&__text
			width: 986px
			height: 512px
			margin: 20px 0 10px 10px

	.collabs
		width: 1024px
		&__rolebox
			width: 210px
			height: 390px
			background-color: #000
			margin: 10px 0 0 20px
			padding: 0px 0 0 20px
			border 1px solid #fff

		&__headshot
			width: 160px
			height: 160px
			border-radius: 1000px
			background-color: #fff
			margin: 10px 0px 0 20px
		h2
			font-size: 33px
			margin: 20px 40px 0 0px
