<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Teko:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wg ht@200&family=Bangers&family=Russo+One&display=swap" rel="stylesheet">

.page
	.home
		.home__project
			.home__sub
				img(src='/health1.png')
		.home__project2
			.home__sub2
				img(src='/art.png')
		.home__project3
			.home__sub3
				img(src='/business1.png')
		.home__project4
			.home__sub4
				img(src='/community1.png')
		.home__logo
			img(src='/test111.png')
	.home__headerbutton
		img(src='logo1.png')

	.sexy
		.sexy__intro
			.sexy__holder
				.sexy__container
					.sexy__styles
						h2 CREATIVE
				.sexy__container
					.sexy__styles
						h2 MARKETING
				.sexy__container
					.sexy__styles
						h2 MANAGMENT
				.sexy__container
					.sexy__styles
						h2 DEVELOPMENT
			.sexy__holder2
				img(src='idea1.png')

	.design__metal
		img(src='/metal.png')
	.design
		.design__undertext
			h1 Growth
			.design__text
				h6 blablablablablablablablablablabblallaablablablablalablablablablalablablablablablablablblablablblablablblablablblablablblablabl
			.design__object








	//- //- .art
	//- //- 	.art__port1
	//- //- 	.art__port2
	//- //- 		.art__section2
	//- //- 		.art__section2
	//- //- 	.art__port3
	//- //- 		.art__section3
	//- //- 		.art__section3
	//- //- 	.art__intro
	//- //- 		.art__header
	//- //- 			h1 The art of living is to create. I create with everything that is available.
	//- //- 
	//- //- 	.art__project
	//- //- 	.art__projectmedia
	//- //- 		.art__image
	//- //- 		.art__image
	//- //- 		.art__image2.circle
