@media (min-width: 1024px)
	footer
		position: relative;
		width: 100%
		overflow: hidden;
		z-index: 1
		margin: 0
		padding: 0

	.footer
		position: relative;
		width: 100%
		height: 111px
		// background-color: #000
		z-index: 1
		margin: 0
		padding: 0

		&__base
			float: left;
			width: 100%
			height: 130px
			background-color: #000
			margin: 0
			padding: 0

		&__circle
			float: left
			width: 66px
			height: 66px
			// background-color: #fff
			border-radius: 111px
			margin: 33px 0 0 11px
