@media (min-width: 1024px)
	.header
		width 100%
		padding: 0px 0 11px 0px
		margin: 0px
		background #000

		&__holder
			width: 1024px
			// height: 99px
			padding: 0px 0 0 0px
			margin: 0 0 0px 0px
			background: #000


		&__container
			width 1024px

		&__title
		&__mobile
			display: none;

		&__logo
			display: none
			float: left;
			width:77px
			height:77px
			background: #fff
			border: black solid 3px
			border-radius: 111px
			// margin: -60px 0px 0px 475px
			z-index: 100px

			img
				width: 88px
				height: 88px
				// margin: 5px 0 0 79px

		&__menu
			display: block
			float: left;
			// background #fff
			margin: 33px 0 0px 30px
			padding: 0 0 0px 0px
			background #000

		&__menu2
			display: block
			float: right;
			// background #fff
			margin: 33px 0px 0px 0
			padding: 0 0 0px 0px
			background #000


		&__button
			float: left;
			width: 180px
			// backgrond: #fff
			margin: 0px 20px 0 0

			h2
				font-size: 33px
				text-align: center;
				color #fff

			h2.active
				font-size: 66px
				margin: -40px 0 0px 0
