<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Teko:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">

.page
	.about
		.about__intro
			.about__logo
				img(src='/test111.png')
			.about__button666
				img(src='logo1.png')
		.about__header
			h4 Health
			h4 Creativity
			h4 Conscious Business
			h4 Lifestyle & Community
		.about__body
			.about__section
				.about__box
				.about__text-1
					h2 Health
					h3 My Experience & Knowledge is based on business projects and ideas I came in contact with during my years of freelancing. is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
			.about__section
				.about__text-2
					h2 Creativity
					h3 My Experience & Knowledge is based on business projects and ideas I came in contact with during my years of freelancing. is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
				.about__box2
			.about__section
				.about__box
				.about__text-1
					h2 Concious Business
					h3 My Experience & Knowledge is based on business projects and ideas I came in contact with during my years of freelancing. is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose 'Content here, content here', making it look like readable
			.about__section
				.about__text-2
					h2 Community
					h3 My Experience & Knowledge is based on business projects and ideas I came in contact with during my years of freelancing. is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
				.about__box2

	.about
		.about__socialholder
			.about__socialbox
				img(src='/fb.png')
			.about__socialbox
				img(src='/insta.png')
			.about__socialbox
				img(src='/in.png')
			.about__socialbox
				img(src='/yt.png')
		.about__infoholder
			.about__infobox
				.about__text
					h4 On a Journey to learn and implement new ways of natural & technological advancements that compliment the overall growth, expertise & health of individuals, businesses & community. I am a self taught project leader & entrepreneur with experience in the health, the businesss & business sectors. 
			.about__headshot
				.about__picture
