.project
	.project__header
		.project__category
			h4 {{project.category}}
		.project__title
		.project__date
.project
	.project__textbox
		h1 Just Be COOL	 
	.project__image1
	.project__image1
	.project__image2
.project
	.project__text
		h4 Text & Eveything That makes sense in no sense.
.collabs
	.collabs__rolebox
		.collabs__headshot
		h2 Name
		h2 Role
	.collabs__rolebox
		.collabs__headshot
		h2 Name
		h2 Role
	.collabs__rolebox
		.collabs__headshot
		h2 Name
		h2 Role
	.collabs__rolebox
		.collabs__headshot
		h2 Name
		h2 Role
