@media (min-width: 480px)
	.header
		width: 480px
		margin: 0px 0 0 0
		padding: 0px

		&__container
		&__holder
			width: 100%

		&__logo
			width: 88px
			height: 88px
			margin: 0 33px 0 0


		&__title
			width: 45px
			height: 45px
			margin: 20px 22px 0 0px

			h1
				font-size: 60px

		&__mobile
			float: right;
			// width: 120px
			height: 60px
			margin: 10px 30px 0 0px
			padding: 0 0 0 0px
			font-size: 66px
