.contact
	.contact__intro
		h2 Get In Touch
		h1 YO
	.contact__social
		.contact__icon
			img(src='/fb.png')
		.contact__icon
			img(src='/insta.png')
		.contact__icon
			img(src='/in.png')
		.contact__icon
			img(src='/yt.png')
	
	.contact__form
		.contact__box
			h3 Register
			.contact__row 
				h4 Name 
				input#name.formcontrol(type='text', placeholder='Name', name='name')
			.contact__row
				h4 Email
				input#email.formcontrol(type='email', placeholder='Email',name='email')
			button submit
			
	.contact__holder-c
		.contact__card
			h6 On a Journey to learn and implement new ways of natural & technological advancements that compliment the overall growth, expertise & health of individuals, businesses & community. I am a self taught project leader & entrepreneur with experience in the health, the businesss & business sectors. 
		
	


	
