@media (min-width: 667px)
	.header
		width: 667px
		margin: 0px 0 0 0

		&__container
			padding: 0 0 0 0px

		&__logo
			width: 88px
			height: 88px

		&__title
			width: 45px
			height: 45px
			margin: 20px 60px 0 111px

			h1
				font-size: 60px

		&__mobile
			float: right;
			// width: 120px
			height: 60px
			margin: 10px 60px 0 0px
			padding: 0 0 0 0px
			font-size: 66px
