@media (min-width: 768px)
	.header
		width: 768px
		height: 66px
		margin: 0px 0 0px 0
		padding: 0px 0px 0px 00px

		&__container
			padding: 0 0 0 15px
		&__holder
			width: 100%

		&__logo
			width: 88px
			// height: 88px
			margin: 0 0px 0px 0


		&__title
			width: 66px
			margin: 20px 66px 0 166px

			h1
				font-size: 66px

		&__mobile
			// width: 120px
			font-size: 66px
			line-height: 11px
			margin: 0px 33	px 0px 0px
			padding: 0 0 0 0px
