@media (min-width: 20px)
	.about
		width: 320px
		// height: 900px
		margin: 0 0 0px 0
		padding: 0px
		overflow: auto;

		&__button666
			display: none

		&__intro
			float: left;
			width: 320px
			// height: 666px
			background: black
			margin: 0 0 0px 0

		&__logo2
			float: left;
			width: 222px
			height: 222px
			padding: 20px 0 0 60px
			// background: #000
			img
				float: left;
				width: 100%
				height: 100%



		&__header
			float: left;
			width: 320px
			// height: 666px
			background: #000
			// padding: 30px 10px 10px 10px
			margin: -11px 0 0 0

			h4
				float: left;
				width: 100%
				font-size: 66px
				line-height: 66px
				font-family: 'Oswald', sans-serif;
				color: white
				text-align: center;
				font-weight: 333px;
				letter-spacing: 3px
				margin: 0 0 33px 0

		&__body
			float: left;
			width: 320px
			// height: 666px
			background: #000
			margin: 0 0 0px 0

		&__section
			float: left;
			// width: 963px
			// height: 300px
			// background: black
			padding: 10px 0 0 0px
			margin: 0 0 90px 6px

		&__box
			float: left;
			width: 300px
			height: 300px
			background: black
			border: white groove 3px
			border-radius: 66px
			padding: 0px
			margin: 40px 0 30px 0px

		&__text-1
			float: left;
			width: 310px
			height: 111px
			margin: 0 0px 360px 0px
			// background: white

			h2
				float: left;
				width: 100%
				font-size: 66px
				font-family: 'Archivo Black' sans-serif;
				color: white
				letter-spacing: 3px
				line-height: 99px
				text-align: center;

			h3
				float: left;
				width: 100%
				color: white
				font-family: 'Archivo Black' sans-serif;
				font-size: 13px
				line-height: 15px
				letter-spacing: 1px
				text-align: justify;

		&__box2
			float: left;
			width: 300px
			height: 300px
			background: black
			border: white groove 3px
			border-radius: 66px
			padding: 0px
			margin: -660px 0 30px 0px

		&__text-2
			float: left;
			width: 310px
			height: 111px
			margin: 270px 0px 250px 0px
			// background: white

			h1
				float: left;
				width: 100%
				font-size: 60px
				font-family: 'Archivo Black' sans-serif;
				color: white
				letter-spacing: 0px
				text-align: center;
				margin: 0 0px 0 0px

			h2
				float: left;
				width: 100%
				font-size: 60px
				font-family: 'Archivo Black' sans-serif;
				color: white
				letter-spacing: 1px
				text-align: center;
				margin: 0 0px 0 0px

			h3
				float: left;
				width: 100%
				color: white
				font-family: 'Archivo Black' sans-serif;
				font-size: 13px
				line-height: 15px
				letter-spacing: 1px
				text-align: justify;
				margin: 9px 0px 0 0px


		&__socialholder
			float: left;
			width: 240px
			// height: 345px
			// background: #fff
			padding: 0px 0 0px 0px
			margin: 0px 0 60px 60px

			img
				float: left;
				width: 100%
				padding: 0px
				margin: 0px

		&__socialbox
			float: left;
			width: 77px
			// height: 77px
			background: #000
			padding: 0px
			margin: 20px 30px 0px 0px

		&__infoholder
			float: left;
			width: 333px
			height: 333px
			background: #fff
			padding: 0px
			margin: 90px 0 0px 0px

		&__infobox
			float: left;
			background: #000
			padding: 30px
			margin: 0px 0 0 0px
			border-radius: 60px
			border: 3px solid #000

		&__text
			float: left;
			width: 256px
			// height: 444px
			background: #000
			padding: 10px 2px 0 0px
			margin: 0px 0 0 0

			h4
				float: left;
				width 100%
				font-size: 15px
				line-height: 15px
				color: #fff
				text-align: center;
				padding: 0px
				margin: 0px
				font-family: quicksand,
				// font-weight: 400

		&__headshot
			float: left;
			width: 166px
			height: 166px
			border-radius: 1000px
			background-image url("/me1.jpg")
			border: 6px solid #000
			margin: -360px 0 0px 66px


			&__headshot:hover
				transform: none;
				background: url(/me2.jpg);
