@media (min-width: 20px)
	.contact
		float: left
		width: 320px
		// height: 600px
		background: #000
		padding: 0px

		&__intro
			float: left;
			width: 320px
			// height: 222px
			background: #000
			padding: 0px
			margin: 0 6px 0px 0px


			h2
				float: left;
				width: 100%
				font-size: 29px
				line-height: 29px
				color: #fff
				text-align: center;
				padding: 0px
				margin: 0px 0 0 0


			h1
				float: left;
				width: 100%
				font-size: 99px
				line-height: 66px
				color: #fff
				text-align: center;
				padding: 0px
				margin: 20px 0 0 0



		&__social
			float: left;
			width: 320px
			height: 111px
			padding: 0px 0 0 10px
			margin: 0px 0 0px 0px
			// background-color: #fff


		&__icon
			float: left
			width: 51px
			height: 51px
			margin: 30px 20px 0px 0px
			border: white solid 3px

			img
				float: left;
				width: 100%
				// height: 100%




		&__form
			float: left;
			width: 299px
			background: #000
			padding: 0px
			margin: 0px 0 0 6px
			border: white solid 3px


		&__box
			float: left;
			width: 290px
			height: 220px
			background: #000
			padding: 0px 0 0 9px

			h3
				float: left;
				width: 100%
				font-size: 33px
				line-height: 22px
				color: #fff
				margin: 33px 0 0 72px

		&__row
			float: left;
			width: 111px
			padding: 0px 0 0 0px
			margin: 0 11px 0 11px


			h4
				float: left;
				// width: 100%
				font-size: 15px
				line-height: 18px
				color: #fff
				margin: 20px 0 3px 0

			input
				float: left;
				width: 111px
				height: 30px
				line-height: 22px
				font-size: 22px
				margin: 0
				padding 0px
				background: #fff
				border 1px solid #000
				border-radius 2px 2px 2px 2px

		button
			float: left;
			width: 133px
			height: 30px
			line-height: 22px
			font-size: 22px
			margin: 0 0 0 0
			padding 0px
			background: #f9f
			border 1px solid #000
			border-radius 2px 2px 2px 2px
			margin: 11px 0 0 66px
