@media (min-width: 20px)
	.error
		float: left;
		width: 320px
		padding: 00px
		margin: 00px
		background: #fff

		&__container
			float: left;
			width: 100%
			margin: 10px 0 0 0

			img
				float: left;
				width: 100%
				height: 100%
