@media (min-width: 20px)
	.home
		float: left;
		width: 320px
		background: #fff
		padding: 0px
		margin: 0px

		&__headerbutton
		&__logo
			display: none


		&__project
			float: left
			width: 320px
			height: 111px
			opacity: 0.9
			// background-color: #107869
			background-image: url(/white.png);
			margin: 0px

		&__project:active
			background-image: url(/life.png);

		&__project2
			float left
			width: 320px
			height: 111px
			opacity: 0.9
			background-image: url(/blue.png);
			// background-color: #5CD85A
			margin: 0px

		&__project2:active
			background-image: url(/cube2.png)


		&__project3
			float left
			width: 320px
			height: 111px
			opacity: 0.9
			background-image: url(/black.png);
			// background-color: #151515
			margin: 0px

		&__project3:active
			background-image: url(/cube3.png);

		&__project4
			float left
			width: 320px
			height: 111px
			opacity: 0.9
			// background-color: #F8CF2C
			background-image: url(/yellow.png);
			margin: 0px

		&__project4:active
			background-image: url(/cube.png);

		&__sub
			width 320px
			height: 111px
			// border-radius: 1000px
			// background-color: #000
			background-image: url(/icon222.png);
			margin: 0px 0 0 0px
			padding 0px 0 0 0

			img
				display: none
		&__sub2
			width 320px
			height: 111px
			// border-radius: 1000px
			// background-color: #000
			background-image: url(/icon111.png);
			margin: 0px 0 0px 0px
			padding: 0 0 0px 0px

			img
				display: none

		&__sub3
			width 320px
			height: 111px
			// border-radius: 1000px
			// background-color: #000
			background-image: url(/icon333.png);
			margin: 0px

			img
				display: none

		&__sub4
			width 266px
			height: 266px
			// border-radius: 1000px
			// background-color: #fff
			margin: -166px 0 0px 27px
			// padding: 30px 33px 38px 33px

	.sexy
		float: left;
		width: 375px
		overflow hidden
		margin: 0

		&__intro
			float: left;
			width: 375px
			background-color: #064d05
			background-image: url('/images.png')
			padding: 0px

			img
				float: left;
				width: 320px
				height: 100%


		&__holder
			float: left;
			width: 375px
			// height: 644px
			padding: 11px 0 11px 0
			// background-color: #f66

		&__container
			float left
			width 100%
			height 66px
			margin 33px 0 0px 0

		&__styles
			float: left;
			width: 310px
			height 66px
			// background-image: url(/slider.png);
			background-color: #151515
			// border: white solid 3px
			margin: 0 0px 0px 5px
			padding 0 0 0px 0
			// border-top-right-radius 66px
			// border-bottom-right-radius 66px

			h2
				display: block
				width: 100%
				text-align center
				font-size: 33px
				line-height:33px
				color: #fff
				font-family: 'Archivo Black',sans-serif;
				padding 15px 0px 0px 0px
				// margin 0 0px 0 40px


		&__holder2
			display: none;
			float: left;
			width: 100%
			height: 100%

	.design
		float: left;
		width: 375px
		// height: 733px
		background: #060b09
		overflow: hidden

		&__metal
			img
				float: left;
				width: 100%
				// height: 66px


		&__undertext
			position: relative;
			width: 222px
			height: 222px
			background: #46c858
			padding: 0px
			margin: 33px 0px 0px -99px
			// border: white solid 3px
			border-radius: 111px

			h1
				float: left;
				width: 100%
				font-size: 33px
				font-family: 'Russo One', sans-serif;
				line-height: 66px
				color: #fff
				text-align: center;
				margin: 0 0 0 166px

		&__text
			float: left;
			width: 222px
			height: 111px
			margin: 0px 0 0 111px
			padding: 2px
			// background-color: #f11
			overflow-wrap: break-word

			h6
				float: left
				width: 100%
				font-size: 11px
				font-family: 'Advent Pro', sans-serif;
				color: #fff
				letter-spacing: 3px



		&__object
			display: none;


	// .art
	// 	width: 1024px
	// 	padding: 0px
	//
	// 	&__port1
	// 		width: 222px
	// 		height: 366px
	// 		padding 0px 0 0 0px
	// 		margin: 10px 6px 0px 6px
	//
	// 	&__port2
	// 		width: 266px
	// 		padding 0px 0 0 0px
	// 		margin: 10px 6px 0px 0
	//
	// 	&__section2
	// 		width: 266px
	// 		height: 182px
	// 		margin: 0px 0 0px 0px
	//
	// 	&__port3
	// 		width: 500px
	// 		// height: 393px
	// 		padding 0px 0 0 0px
	// 		margin: 10px 0 0 0px
	//
	// 	&__section3
	// 		width: 239px
	// 		height: 366px
	// 		margin: 0px 0px 0 6px
	//
	// 	&__intro
	// 		height: 190px
	// 		margin: 0px 0 0px 0
	//
	// 	&__header
	// 		width: 630px
	// 		height: 260px
	// 		margin: 60px 0 0px 190px
	//
	// 	&__project
	// 		width: 353px
	// 		height: 600px
	// 		margin: 30px 0 0 10px
	//
	// 	&__projectmedia
	// 		width: 644px
	// 		height: 600px
	// 		margin: 30px 0 0 0
	//
	// 	&__image
	// 		width: 300px
	// 		height: 300px
	// 		margin: 0 10px 0 10px
	//
	// 	&__image2
	// 		width: 624px
	// 		height: 290px
	// 		margin: 10px 0 0 10px
	//
	//
	//
	//
	// @keyframes logo
	// 	from
	// 		transform rotate(0deg)
	// 	to
	// 		transform rotate(360deg)
	// @keyframes resize
	// 	0%
	// 		width 100%
	// 		height 100%
	// 	25%
	// 		width 100%
	// 		height 100%
	// 	50%
	// 		width 100%
	// 		height 100%
	//
	// 	100%
	// 		width 100%
	// 		height 100%
