@media (min-width: 20px)

	.project
		float: left;
		// width: 310px
		background-color: #000
		padding: 10px 0 0 15px
		margin: 0 0px 0 0px

		&__header
			float: left;
			width: 100%
			background-color: #000
			padding: 0 0 0 0px

		&__category
			float: left;
			width: 111px
			height: 30px
			background-color: #48f
			margin: 0 0 10px 0

		&__title
			float: left;
			width: 210px
			height: 30px
			background-color: #48f
			margin: 0px 0 10px 0px

		&__date
			float: left;
			width: 111px
			height: 30px
			background-color: #48f
			margin: 0 0 10px 0

		&__textbox
			float: left;
			width: 295px
			background-color: #ff9
			margin: 0 0 10px 0px

			h1
				float: left;
				width 100%
				font-size: 66px
				text-align: center;
				// line-height 29px
				color #000
				padding 0px 0px 0px 0px
				margin 0px 0px 0px 0px


		&__image1
			float: left;
			width: 290px
			height: 290px
			background-color: #ff9
			margin: 0px 0px 10px 0px

		&__image2
			float: left;
			width: 293px
			height: 160px
			background-color: #ff9
			margin: 10px 0px 0px 0px

		&__text
			float: left;
			width: 300px
			background-color: #000
			margin: 0px 0 0px 00px
			padding: 10px 5px 20px 0px

			h4
				float: left;
				width 100%
				// line-height: 11px
				font-size: 44px
				color: #fff
				text-align: center
				margin: 20px 0 0 0
				padding: 0px

	.collabs
		float: left;
		width: 320px
		background: #000
		padding: 10px 0 0 55px

		&__rolebox
			float: left;
			width: 90px
			// background: #f14
			margin: 10px 40px 10px 0px
			padding: 10px 0 10px 0
			border: 1px solid #fff

			h2
				float: left;
				width: 100%
				font-size: 15px
				// 	line-height: 29px
				text-align: center;
				color: #000
				margin: 0px
				padding: 0px

		&__headshot
			float: left;
			width: 49px
			height: 49px
			border-radius: 1000px
			background-color: #fff
			margin: 0px 0px 0 20px
