@media (min-width: 20px)
	.intro
		float: left;
		width: 100%
		height: 100%
		margin: 0px
		background: #000

		&__headerbutton
			display: none

		&__box
			float: left;
			background: #000

		&__box2
			float: left;
			width: 290px
			background: #fff
			border-radius: 66px
			padding: 11px 15px 11px 15px

			img
				float: left;
				width: 111px
				height: 111px

			h3
				font-family: 'Archivo Black',sans-serif;
				float: left;
				width 100%
				font-size: 15px
				line-height:15px
				color: black
				text-align: center;

	.search
		float: left;
		width: 270px
		// height: 196px
		background-color: #000
		padding 10px 0px 0px 30px
		margin: 0 0 0px 10px

		&__square
			float: left;
			width: 240px
			// height: 56px
			margin 6px 0 0px 0px
			// background-color: #fff


	.projects
		float: left
		width: 290px
		// height: 100%
		background-color: #000
		padding: 45px 0 25px 39px

		&__holder
			float: left;
			width: 260px
			height: 150px
			background: #000
			margin: 0 0 10px 0

		&__image
			float: left;
			width: 240px
			height: 240px
			margin: 0px 10px 10px 0px
			padding: 0px
			background-color: #fff

		&__image-s
			float: left;
			width: 240px
			height: 240px
			margin: 0px 10px 10px 0px
			padding: 0px
			background-color: #f14
