@media (min-width: 375px)
	.header
		width: 375px
		margin: 0px 0 0 0px
		padding: 0px 0px 0px 0px

		&__holder
		&__container
			width 375px

		&__logo
			width: 66px
			height: 66px
			margin: 0 44px 0 0px

		&__title
			width: 45px
			height: 45px
			margin: 10px 44px 0 0px

		&__mobile
			margin: 10px 0 0 111px
