mat-sidenav-container(fullscreen)
	mat-sidenav(#sidenav, mode='over', [opened]='false')
		.panel
			.panel__spacer
			.panel__buttons
				img(src='/test111.png')
				h6(routerLink='/' routerLinkActive='active') Home
				h6(routerLink='/projects' routerLinkActive='active') Projects
				h6(routerLink='/projects' routerLinkActive='active') Articles
				h6(routerLink='/media' routerLinkActive='active') Media
				h6(routerLink='/about' routerLinkActive='active') About
				h6(routerLink='/contact' routerLinkActive='active') Contact

		.panel__close((click)='closePanel()')
			//- <fa-icon [icon]='faCaretLeft' class='panel__caret'></fa-icon>

	mat-sidenav-content
		.content
			header-component
			router-outlet
		footer-component
