@media (min-width: 20px)
	footer
		position: relative;
		width: 100%
		overflow: hidden;
		z-index: 1
		margin: 0px
		padding: 0

	.footer
		position: relative;
		float: left;
		width: 100%
		height 111px
		background #000
		margin: 0px
		padding: 0
		bottom: 0

		&__base
			float: left;
			width: 100%
			height 130px
			background: #f10

		&__circle
			float: left
			width: 66px
			height: 66px
			// background-color: #fff
			border-radius: 111px
			margin: 33px 0 0 11px
