@media (min-width: 20px)
	.header
		position: relative;
		width 100%
		// height: 65px

		&__holder
			float: left;
			width: 100%
			background #000

		&__container
			position: relative;
			width 320px
			margin: 0 auto;

		&__menu
		&__menu2
			display: none

		&__logo
			float: left;
			width: 66px
			height: 66px
			// background: #fff
			margin: 0px 5px 5px 5px

			img
				float: left;
				width: 100%
				height: 100%

		&__mobile
			display block
			float: left
			width: 39px
			color: #fff
			margin: 15px 0 0px 153px
			font-size: 39px


		&__title
			float: left;
			width: 30px
			height: 30px
			// background: #fff
			margin: 15px 0px 0 3px

			h1
				float: left;
				width: 100%
				font-size: 44px
				line-height: 42px
				color: #fff
				text-align: center;
				margin: 0px 0 0px 0px
