@media (min-width: 768px)
	.about
		width: 768px
		margin: 0 0 0px 0
		padding: 0px
		overflow: auto;

		&__intro
			width: 768px
			// height: 666px
			margin: 0 0 0px 0

		&__logo2
			width: 222px
			height: 222px
			padding: 20px 0 0 255px
			img
				width: 100%
				height: 100%


		&__header
			width: 768px
			background: #000
			// padding: 30px 10px 10px 10px
			margin: -11px 0 0 0

			h4
				font-size: 44px
				line-height: 11px
				font-family: 'Oswald', sans-serif;
				color: white
				font-weight: 333px;
				letter-spacing: 3px
				margin: 11px 0 33px 0

		&__body
			width: 768px
			// height: 666px
			background: #000
			margin: 0 0 0px 0

		&__section
			// width: 963px
			// height: 300px
			// background: black
			padding: 0px 0 0 44px
			margin: 0 0 0px 0px

		&__box
			width: 300px
			height: 300px
			background: black
			border: white groove 3px
			border-radius: 66px
			padding: 0px
			margin: 77px 33px 33px 0px

		&__text-1
			width: 360px
			// height: 111px
			margin: 22px 0px 0px 0px
			// background: white

			h2
				float: left;
				width: 100%
				font-size: 66px
				font-family: 'Archivo Black' sans-serif;
				color: white
				letter-spacing: 3px
				line-height: 66px
				margin: 0 0 6px 0

			h3
				font-family: 'Archivo Black' sans-serif;
				font-size: 11px
				line-height: 15px
				letter-spacing: 1px

		&__box2
			float: left;
			width: 300px
			height: 300px
			background: black
			border: white groove 3px
			border-radius: 66px
			padding: 0px
			margin: 66px 0px 30px 33px

		&__text-2
			float: left;
			width: 360px
			height: 111px
			margin: 0 0px 222px 0px
			// background: white

			h2
				float: left;
				width: 100%
				font-size: 60px
				font-family: 'Archivo Black' sans-serif;
				color: white
				letter-spacing: 1px
				margin: 0 0px 6px 0px

			h3
				font-family: 'Archivo Black' sans-serif;
				font-size: 11px
				line-height: 15px
				letter-spacing: 1px
				margin: 0px 0px 0 0px


		&__socialholder
			width: 250px
			// height: 345px
			// background: #fff
			padding: 111px 0 0px 99px
			margin: 11px 0 0px 00px

			img
				padding: 0px
				margin: 0px

		&__socialbox
			width: 77px
			// height: 77px
			background: #000
			padding: 0px
			margin: 20px 30px 0px 0px

		&__infoholder
			width: 333px
			height: 333px
			padding: 0px
			margin: 150px 0 0px 0px

		&__infobox
			padding: 30px
			margin: 0px 0 0 0px
			border: 3px solid #000

		&__text
			width: 306px
			// height: 133px
			background: #000
			padding: 10px 2px 0 0px
			margin: 0px 0 0 0

			h4
				float: left;
				width: 100%
				font-size: 15px
				color: white


		&__headshot
			width: 133px
			height: 133px
			border-radius: 1000px
			background-image url("/me1.jpg")
			border: 6px solid #000
			margin: -306px 0 0px 111px


			&__headshot:hover
				transform: none;
				background: url(/me2.jpg);
