@media (min-width: 768px)
	.contact
		width: 768px
		// height: 555px
		margin: 0 0 0px 0
		padding: 0 0 0 0

		&__intro
			width: 666px
			// height: 490px
			padding: 0 0 0 33px

			h2
				font-size: 66px
				padding: 0px
				margin: 60px 0px 0 0

			h1
				font-size: 222px
				margin: 90px 0 0 30px
				color: #fff

		&__social
			width: 666px
			height: 111px
			padding: 60px 0 60px 90px
			margin: 30px 0 0px 0px
			// background-color: #fff


		&__icon
			width: 111px
			height: 111px
			margin: 0px 30px 0px 0px
			border: white solid 6px

			img
				width: 100%
				// height: 100%

		&__form
			width: 333px
			height: 333px
			margin: 0 35px 0 35px

		&__box
			width: 300px
			height: 300px
			padding: 0px 0px 0 15px

			h3
				font-size: 44px
				line-height: 30px


		&__row
			padding: 00px 0 0 0
			margin: 0 120px 0 0px

			h4
				font-size: 33px
				margin: 30px 0 10px 0
			input
				margin: 0px

		&__holder-c
			float: left;
			width: 333px
			padding: 0px
			margin: 0px 0 0px 0px

		&__card
			padding: 30px 10px 0 10px
			margin: 0px 0 0 0px
			border-radius: 33px
			border: 3px solid #000
			background-color: #fff
