@media (min-width: 768px)

	.intro
		width: 768px
		margin: 0 0 0px 0
		padding: 30px 0 0 30px

		&__box
			width: 300px
			height: 250px
			margin: 0px 0 20px 0
			padding: 0px 0 0px 0

		&__box2
			width: 330px
			background: #fff
			border-radius: 66px
			padding: 11px 20px 11px 20px
			margin: 30px 0 0 45px

		h3
			font-size: 22px
			line-height:22px
			color: black
			text-align: center;



	.search
		height: 111px
		padding 30px 0px 10px 15px
		margin: 0px

		&__square
			width: 190px
			margin 20px 0px 0 30px

		&__page
			width: 710px
			// padding: 0 0 0 0px

	.projects
		width: 768px
		// height: 1111px
		margin: 0 0 30px 0
		padding: 60px 0 0 50px

		&__image
			width: 200px
			height: 200px
			margin: 20px 0px 20 40px
			padding: 0 0 0 0px

		&__image-s
			width: 200px
			height: 200px
