@media (min-width: 768px)
	.project
		width: 768px
		padding: 0 0 0 0px
		// margin: 0 10px 0 0

		&__header
			padding: 10px 0 0 0

		&__category
			width: 111px
			margin: 0 0 0 30px

		&__title
			width: 180px
			margin: 0px 0px 0 130px

		&__date
			width: 111px
			margin: 0px 0 0 160px

		&__textbox
			width: 390px
			height: 360px
			margin: 0 0 0 10px

		&__image1
			float: left;
			width: 160px
			height: 160px
			margin: 0px 0 0 10px

		&__image2
			width: 330px
			height: 190px
			margin: 10px 0 0 10px
		h1
			font-size: 66px

		&__text
			width: 720px
			height: 260px
			margin: 20px 0 0px 10px

	.collabs
		width: 768px
		height: 420px
		padding: 0 0 0 0px

		&__rolebox
			width: 160px
			height: 240px
			margin: 10px 0px 0 10px
			padding: 10px

		&__headshot
			float: left;
			width: 77px
			height: 77px
			border-radius: 1000px
			margin: 0px 0px 0 44px
		h2
			float: left;
			font-size: 16px
			text-align: center;
			margin: 6px 6px 0 0px
