@media (min-width: 480px)
	.about
		width: 480px
		margin: 0 0 0px 0
		padding: 0px
		overflow: auto;

		// &__headerbutton
		// 	// position: relative
		// 	float: left;
		// 	width: 77px
		// 	height 77px
		// 	background: #000
		// 	border: white solid 3px
		// 	border-radius: 111px
		// 	margin: -736px 0 0px 477px
		// 	img
		// 		float: left;
		// 		width: 111px
		// 		// height: 100%

		&__intro
			width: 480px
			// height: 666px
			margin: 0 0 0px 0

		&__logo2
			width: 222px
			height: 222px
			padding: 20px 0 0 130px

			img
				width: 100%
				height: 100%


		&__header
			width: 480px
			background: #000
			// padding: 30px 10px 10px 10px
			margin: -11px 0 0 0

			h4
				font-size: 44px
				line-height: 11px
				font-family: 'Oswald', sans-serif;
				color: white
				font-weight: 333px;
				letter-spacing: 3px
				margin: 11px 0 33px 0

		&__body
			width: 480px
			// height: 666px
			background: #000
			margin: 0 0 0px 0
			padding: 0

		&__section
			// width: 963px
			// height: 300px
			// background: black
			padding: 0px 0 0 22px
			margin: 0 0 0px 0px

		&__box
			width: 330px
			height: 330px
			background: black
			border: white groove 3px
			border-radius: 66px
			padding: 0px
			margin: 33px 11px 33px 44px

		&__text-1
			width: 350px
			// height: 111px
			margin: 33px 0px 0px 44px
			// background: white

			h2
				float: left;
				width: 100%
				font-size: 66px
				font-family: 'Archivo Black' sans-serif;
				color: white
				letter-spacing: 3px
				line-height: 66px
				margin: 0 0 6px 0

			h3
				font-family: 'Archivo Black' sans-serif;
				font-size: 11px
				line-height: 13px
				letter-spacing: 1px

		&__box2
			width: 330px
			height: 330px
			background: black
			border: white groove 3px
			border-radius: 66px
			padding: 0px
			margin: 99px 0px 30px 11px

		&__text-2
			width: 360px
			height: 111px
			margin: 33px 0px 222px 0px
			// background: white

			h2
				float: left;
				width: 100%
				font-size: 60px
				font-family: 'Archivo Black' sans-serif;
				color: white
				letter-spacing: 1px
				margin: 0 0px 6px 0px

			h3
				font-family: 'Archivo Black' sans-serif;
				font-size: 11px
				line-height: 13px
				letter-spacing: 1px
				margin: 0px 0px 0 0px


		&__socialholder
			width: 225px
			// height: 345px
			// background: #fff
			padding: 111px 0 0px 66px
			margin: 11px 0 0px 00px

			img
				padding: 0px
				margin: 0px

		&__socialbox
			width: 77px
			// height: 77px
			background: #000
			padding: 0px
			margin: 20px 30px 0px 0px

		&__infoholder
			width: 363px
			height: 333px
			padding: 0px
			margin: 150px 0 0px 0px

		&__infobox
			padding: 20px
			margin: 0px 0 0 0px
			border: 3px solid #000

		&__text
			width: 306px
			// height: 133px
			background: #000
			padding: 10px 2px 0 0px
			margin: 0px 0 0 0

			h4
				float: left;
				width: 100%
				font-size: 15px
				color: white


		&__headshot
			width: 133px
			height: 133px
			border-radius: 1000px
			background-image url("/me1.jpg")
			border: 6px solid #000
			margin: -290px 0 0px 111px


			&__headshot:hover
				transform: none;
				background: url(/me2.jpg);
