@media (min-width: 480px)
	.contact
		width: 430px
		padding: 0 0px 0 60px
		margin: 20px 0 0 0

		&__info
			width:220px
			height: 260px

			h5
				font-size: 29px
				line-height: 29px
				padding: 0px
				margin: 0px 0 0 0

		&__form
			width: 230px

		&__box
			width: 200px
			padding: 10px 0 0 20px

		&__form
			width: 120px
			padding: 0px
			margin: 0px

			input
				width: 150px
				height: 30px
				line-height: 22px
				font-size: 22px
				margin: 0 0 0 30px
				padding 0px

			button
				width: 100%
				height: 30px
				line-height: 22px
				font-size: 22px
				margin: 9px 0 0 0
				padding 0px

		&__box
			width: 210px
			height: 260px
			padding: 6px

			h3
				font-size: 36px
				line-height: 24px
				margin: 6px 0 0 33px

		&__row
			width: 100px
			padding: 10px 0 0 0px
			margin: 0 20px 0 0

			h4
				font-size: 22px
				line-height: 18px
				margin: 20px 0 9px 75px
