@media (min-width: 480px)
	.home
		width: 480px
		background: #fff
		padding: 0px

		&__headerbutton
		&__logo
			display: none

		&__project
			width: 480px
			height: 111px
			background-image: url('/art-m.png');
			margin: 0px

		&__project2
			width: 480px
			height: 111px
			background-image: url('/healthBG.png');
			margin: 0px

		&__project3
			width: 480px
			height: 111px
			background-image: url('/business-m.png');
			margin: 0px

		&__project4
			width: 480px
			height: 111px
			background-image: url('/community-m2.png');
			margin: 0px

		&__sub
			width 105px
			height: 105px
			margin: 0 0 0 100px

			img
				width: 100%
				padding 30px 0 0 16px

		&__sub2
			width 105px
			height: 105px
			// border-radius: 1000px
			// background-color: #fff
			margin: 0 0 0 100px

			img
				width: 100%
				padding: 0 0 0px 0px

		&__sub3
			width 105px
			height: 105px
			// border-radius: 1000px
			// background-color: #000
			margin: 0 0 0 100px

			img
				width: 100%
				padding: 0 0 0px 0px

		&__sub4
			width 105px
			height: 105px
			// border-radius: 1000px
			// background-color: #fff
			margin: 0 0 0 100px

			img
				width: 100%
				// padding: 30px 33px 38px 33px



		&__sub > img:active
			animation-name logo
			animation-duration 6666ms
			animation-iteration-count 1
			animation-timing-function: ease-in-out;

		&__sub2 > img:active
			animation-name logo
			animation-duration 6666ms
			animation-iteration-count 1
			animation-timing-function: ease-in-out;

		&__sub3 > img:active
			animation-name logo
			animation-duration 6666ms
			animation-iteration-count 1
			animation-timing-function: ease-in-out;

		&__sub4 > img:active
			animation-name logo
			animation-duration 6666ms
			animation-iteration-count 1
			animation-timing-function: ease-in-out;


	.sexy
		width: 480px
		margin: 0px

		&__intro
			width: 480px
			background-color: #000
			// background-image: url('/tech111.jpg')
			padding: 0px

			img
				width: 320px
				height: 100%


		&__holder
			width: 480px
			padding: 33px 0 0 0
			// background-color: #f66

		&__container
			width 100%
			height 66px
			margin 33px 0 0px 0

		&__styles
			width: 300px
			height 66px
			background-image: url(/slider.png);
			margin: 0 0px 0 0px
			padding 0 0 0px 0

			h2
				font-size: 33px
				line-height:33px
				color: #fff
				font-family: 'Archivo Black',sans-serif;
				padding 15px 0px 0px 0px
				// margin 0 0px 0 40px

		&__holder2
			width: 222px
			height: 222px
			margin:33px 0 0px 133px
			// background-color: rgba(0,0,0,1)
			// background-image: url(/idea1.png);

	.design
		width: 480px
		// height: 733px
		background: #060b09

		&__metal
			img
				width: 100%
				// height: 66px

		&__undertext
			position: relative;
			width: 222px
			height: 222px
			background: #46c858
			padding: 0px
			margin: 33px 0px 0px -99px
			// border: white solid 3px
			border-radius: 111px

			h1
				font-size: 33px
				font-family: 'Russo One', sans-serif;
				line-height: 66px
				color: #fff
				margin: 0 0 0 166px

		&__text
			width: 222px
			height: 111px
			margin: 0px 0 0 111px
			padding: 2px
			// background-color: #f11

			h6
				font-size: 11px
				font-family: 'Advent Pro', sans-serif;
				color: #fff
				letter-spacing: 3px



		&__object
			display: none;
