@media (min-width: 480px)
	.intro
		width: 480px
		height: 100%
		background: #000
		margin: 0px
		padding: 0px


		&__headerbutton
			display: none;
			// float: left;
			// width: 77px
			// height 77px
			// // background: #fff
			// border: white solid 3px
			// border-radius: 111px
			// margin: 0px 0 0px 0px
			//
			// img
			// 	float: left;
			// 	width: 111px
			// 	// height: 100%

		&__box
			width: 333px
			margin: 0 0 0 75px

		&__box2
			width: 360px
			background: #fff
			border-radius: 66px
			padding: 11px 15px 11px 15px
			margin: 0 0 0 45px

	.search
		width: 480px
		margin: 10px 0 20px 0
		padding 0 0 0 13px

		&__square
			width: 222px
			margin 10px 10px 5px 0px



	.projects
		width: 480px
		// height: 696px
		padding: 30px 0px 0px 10px
		margin: 0 0 0px 0

		&__holder
			float: left;
			width: 260px
			height: 150px
			background: #000
			padding: 0 0 0 60px
			margin: 0 0px 0px 0px

		&__image
			width: 222px
			margin: 0px 0px 6px 6px

		&__image-s
			width: 222px
			margin: 0px 0px 6px 6px
			padding: 0px
			background-color: #f14
