@media (min-width: 480px)
	.project
		width: 480px
		padding: 0 0 0 0px
		// margin: 0 10px 0 0

		&__header
			padding: 20px 0 0 0

		&__category
			width: 111px
			height: 30px
			margin: 0 0 0 10px

		&__title
			width: 180px
			height: 30px
			margin: 0px 0px 0 20px

		&__date
			width: 111px
			height: 30px
			margin: 0px 0 0 20px

		&__textbox
			width: 455px
			height: 230px

		&__image1
			float: left;
			width: 160px
			height: 160px
			margin: 10px 0 0 45px

		&__image2
			width: 420px
			height: 190px
			margin: 20px 0 0 15px
		h1
			font-size: 66px

		&__text
			width: 450px
			margin: 20px 0px 0px 0


	.collabs
		width: 480px
		padding: 0 0 0 10px

		&__rolebox
			width: 150px
			height: 210px
			margin: 10px 30px 0 30px
			padding: 10px

		&__headshot
			width: 77px
			height: 77px
			border-radius: 1000px
			margin: 0px 0px 0 36px
		h2
			float: left;
			font-size: 16px
			text-align: center;
			margin: 6px 6px 0 0px
