@media (min-width: 375px)
	.about
		width: 375px
		// height: 900px
		margin: 0 0 0px 0
		padding: 0px
		overflow: auto;

		&__intro
			width: 375px
			// height: 666px
			margin: 0 0 0px 0px

		&__logo2
			width: 222px
			height: 222px
			padding: 20px 0 0 90px
			// background: #000
			img
				width: 100%
				height: 100%



		&__header
			width: 375px
			// height: 666px
			// padding: 30px 10px 10px 10px
			margin: -11px 0 0 0

			h4
				font-size: 66px
				line-height: 66px
				font-family: 'Oswald', sans-serif;
				color: white
				font-weight: 333px;
				letter-spacing: 3px
				margin: 0 0 33px 0

		&__body
			width: 375px
			// height: 666px
			background: #000
			margin: 0 0 0px 0
			padding: 0 0 0 30px

		&__socialholder
			width: 250px
			padding: 0px 0 0px 0px
			margin: 0px 0 60px 66px

			img
				width: 100%
				padding: 0px
				margin: 0px

		&__socialbox
			width: 88px
			// height: 77px
			padding: 0px
			margin: 20px 30px 0px 0px

		&__infoholder
			width: 333px
			height: 333px
			padding: 0px
			margin: 111px 0 0px 30px

		&__infobox
			padding: 20px
			margin: 0px 0 0 0px
			border-radius: 60px
			border: 3px solid #000

		&__text
			width: 256px
			// height: 444px
			padding: 10px 2px 0 0px
			margin: 0px 0 0 0

			h4
				width 100%
				font-size: 15px
				line-height: 15px
				padding: 0px
				margin: 0px
				font-family: quicksand,
				// font-weight: 400

		&__headshot
			width: 166px
			height: 166px
			border-radius: 1000px
			background-image url("/me1.jpg")
			border: 6px solid #000
			margin: -360px 0 0px 66px


		
