@media (min-width: 375px)
	.contact
		width: 375px

		&__intro
			width:375px

		&__social
			width: 375px
			padding: 0 0 0 39px

		&__form
			width: 355px

		&__box
			width: 300px
			padding: 10px 0 0 42px
