@media (min-width: 375px)
	.error
		float: left;
		width: 375px
		padding: 00px
		margin: 00px

		&__container
			float: left;
			width: 100%

			img
				float: left;
				width: 100%
				height: 100%
