@media (min-width: 375px)
	.home
		width: 375px

		&__project
			width: 375px

		&__project2
			width: 375px

		&__project3
			width: 375px

		&__project4
			width: 375px


	.business
		padding: 0 0 0 0px
