@media (min-width: 375px)
	.project
		width: 375px
		padding: 0 0 0 10px
		// margin: 0 10px 0 0

		&__header
			width: 100%
			height: 100%
			margin: 10px 0 20px 0

		&__category
			float: left;
			width: 99px
			height: 30px
			margin: 40px 0 0 0

		&__title
			float: left;
			width: 150px
			height: 30px
			margin: 0px 0px 0 0px

		&__date
			float: left;
			width: 99px
			height: 30px
			margin: 10px 0 0 150px

		&__textbox
			width: 350px
			height: 200px
			margin: 0px

		&__image1
			float: left;
			width: 160px
			height: 160px
			background-color: #ff9
			margin: 10px 0 0 10px

		&__image2
			width: 353px
			height: 160px
			margin: 10px 0 0 0
		h1
			float: left;
			font-size: 66px
			text-align: center;

		&__text
			width: 345px
			margin: 20px 0px 10px 0

	.collabs
		width: 375px
		padding: 0 0 0 0

		&__rolebox
			width: 120px
			height: 190px
			margin: 10px 10px 0 30px
			padding: 10px


		&__headshot
			float: left;
			width: 60px
			height: 60px
			margin: 0px 0px 0 12px
		h2
			float: left;
			font-size: 16px
			text-align: center;
			margin: 6px 6px 0 0px
