@media (min-width: 375px)
	.intro
		width: 375px
		margin: 0px

		&__box
			width: 375px
			background: #000

		&__box2
			float: left;
			width: 290px
			background: #fff
			border-radius: 66px
			padding: 11px 15px 11px 15px
			margin: 0 0 0 30px

	.search
		width: 100%
		// height: 260px
		padding 10px 0px 10px 30px
		margin: 0px

		&__square
			width: 290px
			margin 10px 0 0px 5px

			input
				width: 100%
				height: 50px
				background: #fff

		&__page
			width: 325px

	.projects
		float: left
		width: 320px
		// height: 100%
		background-color: #000
		padding: 45px 0 25px 66px

		&__holder
			float: left;
			width: 260px
			height: 150px
			background: #000
			margin: 0 0 10px 0

		&__image
			float: left;
			width: 240px
			height: 240px
			margin: 0px 10px 10px 0px
			padding: 0px
			background-color: #fff

		&__image-s
			float: left;
			width: 240px
			height: 240px
			margin: 0px 10px 10px 0px
			padding: 0px
			background-color: #f14
