<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Teko:wght@700&display=swap" rel="stylesheet">

.page
	.intro
		.intro__headerbutton
		.intro__box
			img(src='test111.png')
		.intro__box2
			h3 My businessistic porfolio is full of different works of business, I specialize in creative ideas and processes, organizing all the work and materials to create a final product. 
		.search
			.search__square
				img(src='art-c.png')
			.search__square
				img(src='business-c.png')
			.search__square
				img(src='health	-c.png')
			.search__square

						
	.projects
		.projects__image-s
		.projects__image(*ngFor='let project of projects',(click)='viewProject(project.clean)')
			p {{project.images}}
			h3 {{project.title}}
		.projects__image-s
		.projects__image(*ngFor='let project of projects',(click)='viewProject(project.clean)')
			p {{project.images}}
			h3 {{project.title}}
		.projects__image-s
		.projects__image(*ngFor='let project of projects',(click)='viewProject(project.clean)')
			p {{project.images}}
			h3 {{project.title}}
		.projects__image-s 
		
		
			
				
