
link(rel="stylesheet" href="https://use.typekit.net/ken2uiu.css")
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
	
.header 
	.header__holder
		.header__container
			.header__logo
				img(src='/logo1.png')
			.header__menu
				.header__button
					h2(routerLink='/', routerLinkActive='active') Home
				.header__button
					h2(routerLink='/about') About
			.header__title
				h1 ɨռֆքɨʀɛ
			.header__mobile 
				fa-icon.header__bars([icon]='faBars', (click)='openPanel()')
			.header__menu2
				.header__button
					h2(routerLink='/projects') Portfolio
				.header__button
					h2(routerLink='/contact') Contact
			
