@media (min-width: 667px)
	.home
		width: 667px

		&__project
			float: left;
			width: 667px
			height: 111px
			margin: 0px

		&__project2
			width: 667px
			height: 111px
			margin: 0px

		&__project3
			width: 667px
			height: 111px
			margin: 0px

		&__project4
			width: 667px
			height: 111px
			// background: #2fe054
			margin: 0px

	.sexy
		width: 667px
		margin: 0px

		&__intro
			width: 667px
			background-color: #000
			// background-image: url('/tech111.jpg')
			padding: 0px

			img
				width: 320px
				height: 100%


		&__holder
			width: 667px
			padding: 33px 0 0 0
			// background-color: #f66

		&__container
			width 100%
			height 66px
			margin 33px 0 0px 0

		&__styles
			width: 300px
			height 66px
			background-image: url(/slider.png);
			margin: 0 0px 0 0px
			padding 0 0 0px 0

			h2
				font-size: 33px
				line-height:33px
				color: #fff
				font-family: 'Archivo Black',sans-serif;
				padding 15px 0px 0px 0px
				// margin 0 0px 0 40px

		&__holder2
			width: 222px
			height: 222px
			margin:33px 0 0px 133px
			// background-color: rgba(0,0,0,1)
			// background-image: url(/idea1.png);

	.design
		width: 667px
		// height: 733px
		background: #060b09

		&__metal
			img
				width: 100%
				// height: 66px

		&__undertext
			position: relative;
			width: 222px
			height: 222px
			background: #46c858
			padding: 0px
			margin: 33px 0px 0px -99px
			// border: white solid 3px
			border-radius: 111px

			h1
				font-size: 33px
				font-family: 'Russo One', sans-serif;
				line-height: 66px
				color: #fff
				margin: 0 0 0 166px

		&__text
			width: 222px
			height: 111px
			margin: 0px 0 0 111px
			padding: 2px
			// background-color: #f11

			h6
				font-size: 11px
				font-family: 'Advent Pro', sans-serif;
				color: #fff
				letter-spacing: 3px



		&__object
			display: none;
