@media (min-width: 667px)
	.project
		width: 667px
		padding: 0 0 0 0px
		// margin: 0 10px 0 0

		&__header
			padding: 20px 0 0 0

		&__category
			width: 111px
			height: 30px
			margin: 0 0 0 10px

		&__title
			width: 180px
			height: 30px
			margin: 0px 0px 0 110px

		&__date
			width: 111px
			height: 30px
			margin: 0px 0 0 110px

		&__textbox
			width: 360px
			height: 336px

		&__image1
			width: 135px
			height: 135px
			margin: 0px 0 0 10px

		&__image2
			width: 280px
			height: 190px
			margin: 10px 0 0 10px
		h1
			font-size: 66px

		&__text
			width: 630px
			margin: 20px 0 0px 0
			h4
				font-size: 66px

	.collabs
		width: 637px
		padding: 30px 0 0 30px

		&__rolebox
			width: 190px
			height: 270px
			margin: 10px 60px 0 60px
			padding: 0px 0 0 0

		&__headshot
			width: 77px
			height: 77px
			margin: 11px 0px 0 55px
		h2
			float: left;
			font-size: 16px
			text-align: center;
			margin: 6px 6px 0 0px
