@media (min-width: 667px)
	.intro
		width: 667px
		height: 100%
		background: #000
		margin: 0px
		padding: 0px


		&__box
			width: 250px
			margin: 0 0 0 222px

		&__box2
			width: 470px
			// height: 250px
			// height: 200px
			// border: 3px inset #fff
			padding: 11px 20px 11px 20px
			margin: 0 0 0 90px

			h3
				font-family: 'Archivo Black',sans-serif;
				font-size: 33px
				line-height: 27px
				margin: 0px

	.search
		width: 667px
		margin: 10px 0 20px 0
		padding 0 0 0 81px

		&__square
			width: 250px
			margin 10px 10px 5px 0px

	.projects
		width: 667px
		padding: 0 0 0 40px

		&__image
			width: 266px
			// height: 260px
			margin: 0px 0px 20px 20px

		&__image-s
			width: 266px
			// height: 260px
			margin: 0 0 20px 20px
